export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable"
export ENV="dev"
export VERSION="0.0.1"
export MAIL_EXP="3d"
export EXTERNAL_URL="localhost:8080"