#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(-45deg, #f1ecd4, #e1f0d4, #d4e6f1, #f0d4ee);
  background-size: 100% 100%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add these new styles */
.solid-bg {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
}
