<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body> <p>Hi {{.Username}},</p>
    <p>Thanks for signing up for the system! We're excited to have you on board!</p></p>
    <p>Before you can start using the system, you need to confirm your email address. Click the link below to confirm your email address:</p>
    <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
    <p>If you want to activate your account manually, copy and paste the code from the link above</p>
    <p>If you didn't sign up for the system, you can safely ignore this email.</p>

    <p>Thanks,</p>
    <p>Banghao</p>
  </body>
</html>